<!DOCTYPE html>
<html>
  <head>
    <title>A PROPOS</title>
    <%- include("layout/head") %>
    <meta name="description" content="mon site" />
  </head>

  <body>
    <header>
      <h1>A PROPOS DE MOI</h1>
    </header>
    <nav>
      <ul>
        <li><a href="/home">HOME</a></li>
        <li><a href="/chat">chat</a></li>
        <li><a href="/login">déconnexion</a></li>
      </ul>
    </nav>
    <main>
      <p>Je m'appelle Camille</p>
    </main>

    <%- include("layout/footer") %>
  </body>
</html>
