<!DOCTYPE html>
<html>

<head>
    <title>HOME</title>
    <!-- faire le test sans le charset de précisé -->
    <meta charset="UTF-8">
    <meta name="description" content="mon site">
    <meta name="keywords" content="Moi, camille, choplain ">
    <meta name="author" content="Camille Choplain">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/home">HOME</a></li>
            <li><a href="/aboutMe">aPropos</a></li>
            <li><a href="/maPhoto">ma photo</a></li>
        </ul>
    </nav>
    <header>
        <h1>Bienvenue sur mon site</h1>
    </header>
    <main>Voici du texte UTF 8 : camille est bon ??</main>
    <footer></footer>
</body>

</html>