<!DOCTYPE html>
<html>
  <head>
    <title>A PROPOS</title>
    <%- include("layout/head") %>
    <meta name="description" content="mon site" />
  </head>

  <body>
    <h1>Avec des templates inclus</h1>

    <%- include("layout/menu") %>
    <%- include("layout/header", { title: "À propos de moi" }) %>

    <main>
      <p>Je m'appelle Camille</p>
    </main>

    <%- include("layout/footer") %>
  </body>
</html>
