<nav>
    <ul>
        <li><a href="/home">HOME</a></li>
        <li><a href="/aboutMe">aPropos</a></li>
        <li><a href="/maPhoto">ma photo</a></li>
        <li><a href="/chat">chat</a></li>
        <li><a href="/login">déconnexion</a></li>
    </ul>
</nav>