name: Deploy to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: 31.207.34.100
          username: root
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /home/tp-api

            
            git pull origin main || git clone https://github.com/camille0601/TP_API.git .
